:root {
    box-sizing: border-box;
    font-family: monospace;
    color: white;

    --boardWidth: 0;
    --boardHeight: 0;
}

body {
    background-color: darkslategray;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 20px;
    
    
    background-color: darkolivegreen;
}

#menu > * {
    margin: 5px;
}

#board {
    background-color: peachpuff;
    padding: 2px;
    display: grid;
    /* width: 800px; */
    /* height: 800px; */
    grid-template-rows:repeat(var(--boardHeight),1fr);
    grid-template-columns:repeat(var(--boardWidth),1fr);
}


.grid-item {
    transition: background-color 0.2s;
    width: 100px;
    height: 100px;
    margin: 2px;
    background-color: coral;
}

.Flagged {
    background-color: palegreen;
}

.Mine {
    background-color: orangered;
}

.Revealed {
    background-color: rgb(196, 96, 60);
}